span.underline {
  text-decoration-line: underline;
  text-decoration-color: #4a4a4a60;
}

span.cursor {
  animation: blink 1060ms infinite;
  background-repeat: repeat-y;
}

.Il  {
  font-family: monospace;
  font-size: 20px;
}

@keyframes blink {

  0%,
  100% {
    background-image: linear-gradient(to right,
        #4a4a4a, #4a4a4a 1px, #00000000 1px);
  }

  50% {
    background-image: none;
  }
}
