<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>100wpm</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css"
    integrity="sha256-O8SsQwDg1R10WnKJNyYgd9J3rlom+YSVcGbEF5RmfFk=" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">

</head>

<body>
  <section class="section">
    <div class="container">
      <h1 class="title"><span id="wpm">0</span>wpm</h1>
      <div class="box" id="div">
        <span class="has-text-success"><span name="a"></span><span name="b" class="underline"></span></span><span
          class="has-background-danger-light has-text-danger-dark"><span name="c" class="underline"></span><span name="d"></span></span><span
          class="cursor"><span name="e" class="underline"></span><span name="f">Loading...</span><span
            class="underline">
      </div>
      <input class="input" id="input" type="text" class="txtInput" autocorrect="off" autocapitalize="off"
        autocomplete="off" autofocus>
    </div>
  </section>
  <script src="index.js"></script>
  <script>(() => { new Typer({{ .Text }}, document.getElementById("div"), document.getElementById("input"), document.getElementById("wpm")); }) (); </script>
</body>

</html>
